/* for large device  */

@media (max-width: 992px) {
  header {
    padding-inline: 3%;
  }
  header .nav_btn{
    display: none;
  }

  .mobile_nav_link{
    display: block;
  }

  .event_main_comtainer svg {
    display: none;
  }
  .event_main_comtainer .event-card {
    background: var(--lightGrey7);
  }
  .container {
    max-width: 80%;
    margin-inline: auto;
  }

  .hero-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .education_image_container {
    text-align: center;
  }

  .hero-container .hero_right .education_1 {
    position: static;
  }

  .hero-container .hero_right .education_3 {
    position: absolute;
    right: 180px;
    z-index: -9;
  }

  .hero-container .hero_left {
    margin-right: 0;
    /* padding-inline: 60px; */
    padding-block: 60px;
  }

  .hero-container .hero_right .education_4 {
    right: 115px;
    z-index: -0909;
  }

  .training_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .about_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .about_image_container {
    text-align: center;
  }

  .popular_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .popular_third {
    justify-content: left;
  }

  .popular_card_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .popular_third.flex_center{
  justify-content: flex-start;
}

  .grid-col-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-col-2 {
    grid-template-columns: repeat(1, 1fr);
  }

  .course_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .registerarea__form {
    position: static;
    width: 100%;
  }

  .event_heading_box h1 {
    max-width: 100%;
  }

  .brandarea__wraper .brandarea__img {
    width: 25%;
  }

  .footer_heading .footer_input input {
    width: 250px;
  }

  .footer-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .nav_link_container {
    display: none;
  }

  .mobile_nav_link .menue {
    display: flex;
  }

  .event-card:nth-child(even) {
    flex-direction: column-reverse;
  }
  .Fixed_WhatsApp_Icon{
    display: none;
  }

 
}

/* for medium device  */
@media (max-width: 768px) {
  .hero-container h1 {
    font-size: 40px;
    line-height: 51px;
  }

  .hero-container p {
    font-size: 15px;
    line-height: 25px;
  }

  .hero-container .hero_left input {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .education_image_container {
    width: fit-content;
  }

  .education_3 {
    display: none;
  }

  .training_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .about_image_container .about2,
  .about_image_container .about1 {
    width: 100%;
  }

  .days_btns_container  ul{
    display: flex;
   flex-wrap: wrap;

    li{
      width: 48%;
    }
  }

  .about_section .right_about {
    padding-top: 200px;
  }

  .heading_2 {
    font-size: 30px;
    line-height: 40px;
  }

  .right_about .about_list li {
    font-size: 13px;
  }

  .grid-col-3 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-col-4 {
    grid-template-columns: repeat(1, 1fr);
  }
  .event_heading_box {
    flex-wrap: wrap;
  }

  .event-card {
    flex-direction: column;
    /* text-align: center; */
  }

  .event-card-image {
    margin-inline: auto;
  }
  .event-card-image img {
    margin-inline: auto;
  }

  .event-details {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    align-items: flex-start;
    margin-top: 10px;
  }

  .brand_heading {
    padding: 0;
  }

  .brandarea__wraper .brandarea__img {
    width: 50%;
  }

  .footer_heading {
    flex-wrap: wrap;
  }

  .footer_input {
    width: 100%;
  }

  .education_1 {
    width: 100%;
  }

  .hero-container .hero_right .education_2 {
    left: 0;
    top: 230px;
  }

  .educationarea__small__img {
    position: absolute;
    right: 102px;
    bottom: -115px;
    z-index: 99;
  }

  .footer-links {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-column.about {
    width: 100%;
  }

  .footer_heading .footer_input input {
    width: 100%;
  }

  .educationarea__small__img__2 {
    right:-20px;
    top: -360px;
    width:285px
  }

  .hero__shape__1 {
    right: 0;
  }

  .hero__shape__2 {
    right: 0;
  }

  .registration_section .container .left_registration h2 {
    font-size: 30px;
  }

  .event-card {
    background: var(--whiteColor);
  }
  .testimonial_section{
    padding-bottom: 0;
  }

  .testimonial-card {
    flex: 1 1 100%;
    min-width: 100%;
  }

  .left-arrow {
    left: 0;
  }

  .right-arrow {
    right: 0;
  }

  .registerarea__form {
    padding: 30px 25px 25px 25px;
  }

  .video__pop__btn a {
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-right: 0;
  }
 

  .video_btn p {
        font-weight: 700 !important;
        font-size: 13px !important;
  }

  .days_btns_container ul li{
    padding: 5px 0;
  }
  .grid__filter button::before{
    transition: .6s ease-in;
  }
  .grid__filter button.active::before{
    bottom: -2px;
  }
  .grid__filter button::before{
    bottom: -2px;
  }
.registerarea__form form .register__input{
  line-height: normal;
}

  .registration_section{
    margin-bottom: 0;
  }
 .faq_container{
  padding: 0;
 }
  .banner_content_area{
    grid-template-columns: repeat(1,1fr);

  }

  .banner_content_area{
    gap: 20px;
    padding: 15px;
  }
   .footer_heading .footer_input{
    display: block;
    input{
      width: 100%;margin-block: 15px;
    }
  }
}

/* for small Device  */
@media (max-width: 576px) {
  .container {
    max-width: 90%;
    margin-inline: auto;
  }

  .about_section .right_about {
        padding-top: 125px;
    }

  .courses_navbar {
    padding: 10px;
    margin: 20px 0;
  }

  .grid__filter button {
    padding: 0;
  }
  .event-title {
    margin-right: 0;
  }

  .training_container {
    margin-top: 15%;
  }

  .hero-container .hero_right .education_4 {
        right: 24px;
        z-index: -0909;
  }

  .popular_second p{
    margin-bottom: 0;
  }

  .popular_third .common_btn{
    margin-block: 0;
  }

  .sub_heading{
    flex-direction: column;
  }
  .testimonial-card{
    padding: 20px;
  }
  
  .modal-content{
    width: 100%;
  }
  .accordion-question {
    font-size: 17px;
  }

  .right_about p br{
    display: none;
  }
}
